<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing Individual places</title>
</head>
<body>
    <h1>Would U like to stay here</h1>
    <ul>
        <li><%=post.title%></li>
        <li><%=post.description%></li>
        <li><%=post.location%></li>
        <li><%=post.country%></li>
        <li><%=post.price%></li>
    </ul>
</body>
</html>