<%- layout('/layouts/boilerplate') %>

    <h1>Edit your listings here</h1>
      <form method="post" action="/listing/<%=list._id%>?_method=PATCH">
        <input name="listing[title]" value="<%= list.title%>"><br><BR>
        <textarea rows="10" cols="50" name="listing[description]" type="text"><%=list.description%></textarea><br><BR>
        <input name="listing[image]" value="<%=list.image.url%>"><br><BR>
        <input name="listing[price]" value="<%=list.price%>"type="number"><br><BR>
        <input name="listing[location]" value="<%=list.location%>"><br><BR>
        <input name="listing[country]" value="<%=list.country%>"><br><BR>
        <button type="submit">Create</button>
    </form>

